<html ng-app="myApp">
<head>
	<title>Main Blog page</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body layou-fill layout='column'>
    <script src="/bower_components/angular/angular.js"></script> 
    <script src="/bower_components/angular-aria/angular-aria.js"></script> 
    <script src="/bower_components/angular-animate/angular-animate.js"></script> 
    <script src="/bower_components/angular-material/angular-material.js"></script> 
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script> 
    <script src="/javascripts/app/main.js"></script>
	<script src="/javascripts/app/controllers.js"></script>
	<script src="/javascripts/app/routes.js"></script>
	<md-toolbar layout="row" layout class="bg-dark-blue nav-dark" layout-align="space-between center">
		<div>
		    <md-button class="md-raised" ui-sref="home" name="home">Home</md-button>
		    <md-button class="md-raised" ui-sref="about" name="about">About</md-button>
			<md-button class="md-raised" ui-sref="registration" name="registration">Sign Up</md-button>
		</div>
		<div class="nav-buttons">
		    <md-button class="md-raised md-warn">Log Out</md-button>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<main class='md-padding' layout="row" flex>
		<div layout-padding flex-offset="15" flex="70">
				<div ui-view/>
		</div>
	</main>
	<md-divider></md-divider>
	<md-toolbar md-theme="default">
		<div layout="row" layout-align="center center" flex>
			<span>Sivakow Aleksandr, 2016 ©</span>
		</div>
	</md-toolbar>
</body>
</html>