<html ng-app="myApp" ng-controller="MainController as mainCtrl">
<head>
	<title>Blog</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>
<body layout="column" layout-fill>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/bower_components/angular-password/angular-password.js"></script>
    <script src="/javascripts/app/main.js"></script>
	<script src="/javascripts/app/controllers.js"></script>
	<script src="/javascripts/app/routes.js"></script>
	<script src="/javascripts/app/services.js"></script>
	<md-toolbar layout="row" layout class="bg-dark-blue nav-dark" layout-align="space-between center">
		<div>
			<a ui-sref="home">
				<md-button class="md-fab md-mini" aria-label="Profile">
					<md-icon md-font-library="material-icons">home</md-icon>
				</md-button>
			</a>
			<a ui-sref="posts.all">
				<md-button class="md-fab md-mini md-raised md-default" aria-label="Profile">
					<md-icon md-font-library="material-icons">list</md-icon>
				</md-button>
			</a>
			<a ng-if="mainCtrl.currentUser" ui-sref="posts.new">
				<md-button class="md-fab md-mini" aria-label="Add post">
					<md-icon md-font-library="material-icons">add</md-icon>
				</md-button>
			</a>
			<a ui-sref="search">
				<md-button class="md-fab md-mini" aria-label="Search">
					<md-icon md-font-library="material-icons">search</md-icon>
				</md-button>
			</a>
		</div>
		<div class="nav-buttons">
			<div layout="row" ng-if="mainCtrl.currentUser">
				<md-button ui-sref="user_posts({id: mainCtrl.currentUser._id})" class="md-raised">My Posts</md-button>
				<md-button ui-sref="edit_profile">
					<md-icon md-font-library="material-icons">account_circle</md-icon>
					{{mainCtrl.currentUser.username}}
				</md-button>
				<md-button ng-click="mainCtrl.logout($event)" class="md-fab md-mini md-warn" aria-label="Profile">
					<md-icon md-font-library="material-icons">exit_to_app</md-icon>
				</md-button>
			</div>
			<div ng-if="!mainCtrl.currentUser">
				<md-button class="md-raised" ui-sref="registration" name="registration">Sign Up</md-button>
				<md-button class="md-raised" ui-sref="sign_in" name="sign_in">Sign In</md-button>
				<md-button class="md-raised" ui-sref="about" name="about">About</md-button>
			</div>

		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<main flex>
		<div layout-padding flex-offset="15" flex="70">
			<div ui-view/>
		</div>
	</main>
</body>
</html>