<form>
    <md-card layout="column" flex-offset="10" flex="80" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><md-icon md-font-library="material-icons">assignment_ind</md-icon> Sign In</h3>
            </div>
        </md-toolbar>
        </md-card-content>
        <div layout-margin="10">
            <md-input-container>
                <label>Email</label>
                <md-icon md-font-library="material-icons">mail</md-icon>
                <input ng-model="user.email" required>
            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div layout-margin="10">
            <md-input-container>
                <label>Password</label>
                <md-icon md-font-library="material-icons">vpn_key</md-icon>
                <input ng-model="user.password" required type="password">
            </md-input-container>
        </div>
        </md-card-content>
        <md-card-actions layout="row" layout-margin="10" layout-align="center">
            <md-button ng-click="mainCtrl.login(user)"class="md-raised">Sign In</md-button>
        </md-card-actions>
    </md-card>
</form>